.Main__main {
    list-style: none;
    margin-top: 50px;
    padding: 30px;
}

.layout-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1060px;
    position: relative;
    font-family: var(--mainKorfont);

    h1 {
        font-weight: 600;
        font-size: 1.5rem;
        padding: 10px;
    }

    h2 {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        padding: 10px;
        border-bottom: 1px solid #808080;
        font-weight: 800;
    }

    span {
        position: absolute;
        right: 0;

        a {
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
            display: inline-block;
            color: #555555;
            transition: all 0.3s;

            &:hover {
                text-decoration: underline;
                text-underline-position: under;
            }
        }
    }
}

.book-list2 {
    display: flex;
    gap: 3%;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    margin-bottom: 100px;
    overflow: hidden;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.book-item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    min-width: 210px;
    max-width: 210px;
    margin: 10px;

    &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        transition: 0.3s;
    }

    .book2_top {
        position: relative;
        border: 1px solid rgba(201, 201, 201, 0.6980392157);
        border-radius: 10Px;
        width: 100%;
        display: flex;
        justify-content: center;

        .book-rank {
            position: absolute;
            top: 220px;
            left: 10px;
            padding: 5px 10px;
            border-radius: 5px;
            font-weight: 800;
            font-size: 3rem;
            color: rgb(16, 40, 255);
        }

        .book-image2 {
            width: 100%;
            height: 310px;
            object-fit: contain;
            background-color: #ffffff;
            border-bottom: 1px solid #c9c9c9b2;
            border-radius: 10px
        }
    }

    .book2_bottom {


        h3 {
            font-size: 16px;
            padding: 10px;
            height: 100px;
            overflow: hidden;
        }

        p {
            font-size: 14px;
            color: #4E4E4E;
        }
    }

    .price {
        font-size: 14px;
        color: #4E4E4E;
    }
}

.button-grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;

    .button-title {
        text-align: center;
        transition: all 0.2s;
        padding: 10px;

        a {
            font-weight: 600;
            font-size: 16px;
            border-radius: 20px;
            padding: 10px;
            color: #2a65ff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

            &:hover {
                background-color: #2a65ff;
                color: #fff;
            }
        }
    }
}

.button-grid__button.active .button-title a {
    background-color: #2a65ff;
    color: #fff;
}

.BookDetails {
    .date {
        text-align: right;
        margin-bottom: 10px;
        padding: 10px;
        z-index: 1000;

        p {
            margin-bottom: 10px;
            padding-right: 10px;
            font-size: 12px;
        }

        svg {
            width: 34px;
            height: 34px;
        }

        input {
            padding: 10px;
            background-color: transparent;
            text-align: right;
            width: 140px;
            font-weight: 600;
        }
    }

    .date2 {
        display: flex;
        justify-content: right;

        .react-datepicker__month {
            z-index: 1000;
        }
    }
}
